# Dependencies
node_modules
**/node_modules

# VCS
.git
.gitignore

# Local env/config
.env
.env.local
.env.*.local

# Logs and caches
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.next/cache

# Misc
Docker.md
.DS_Store

